body {
    background: #e0ece4;
}
.container{
    width: 60%;
    margin: 80px auto;
    background: #333;
    border-radius: 6px;
    overflow: hidden;
}

h1{
    text-align: center;
    margin: 50px;
    color: #200596;
    
}
.container input {
    background: transparent;
    border: 0;
    font-size: 35px;
    color: #fff;
    width: 100%;
}

.suggestions {
    border-top: 2px solid #999;
}

.suggestions > div {
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border-top: 1px solid #666;
    cursor: pointer;
}

.suggestions > div:hover {
    background-color: #1e4dd4;
}